<div id="pageContainer">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark w-100">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Assessment</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/countries" routerLinkActive="active">Countries</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cities" routerLinkActive="active">Cities</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div id="outletContainer">
    <router-outlet></router-outlet>
  </div>
</div>
